@import 'hamburgers/hamburgers';

body {
	margin:0;
	padding:0;
	background-color:#fff;
}

.header{
	.topbar{
		display:flex;
		.menu-btn{

		}
		.logo-short{			
			display: block;
			margin: 0 auto;
			transform:rotate('2deg');
		}
	}
}